<html>
 <img class="myImage" src="\static\JurassicLogo.png"> <h1>Employees</h1>
<h2>   <a href="/dinosaurs" class="btn btn-default">Dinosaurs</a> <a href="/species" class="btn btn-default">Species</a> 
     <a href="/employees" class="btn btn-default">Employees</a>  <a href="/visitors" class="btn btn-default">Visitors</a> 
	 <a href="/dinosaur_assignments" class="btn btn-default">Dinosaur Assignments</a>  <a href="/locations"class="btn btn-default">Locations</a>  </h2>
<head>
	<title>Update Employee</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table class="blueTable"> 
            <caption> <h3>Are you sure you want to update this employee?</h3> </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Job Title</th>
                        <th>Salary</th>
                        <th>Location</th>
                        <th>Status</th>
                 
                        
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

    <!-- form to update a Employee-->
    <form id="updateEmployee" action="/update_employee/{{data[0].ID}}" method="post">
        <legend><strong>Update Employee</strong></legend>
          <fieldset class="fields">
            <label> First Name </label> <input type="text" id="f_name" name="f_name" value="{{data[0].f_name}}" required>
            <label> Last Name </label> <input type="text" id="l_name" name="l_name" value="{{data[0].l_name}}" required>
            <label> Job Title </label> <input type="text" id="job_title" name="job_title" value="{{data[0].job_title}}" required>
            <label> Salary </label> <input type="text" id="salary" name="salary" value="{{data[0].salary}}" required>
            <label> Location </label> 
              <select name="location">
            	<option value="{{data[0].Location}}">{{data[0].Location}}</option>
                {% if data[0].Location %}
                  {% for x in locations if x.location_name not in data[0].Location %}
                      <option value="{{x.location_name}}">{{x.location_name}}</option>
                  {% endfor %}
                      <option value="NULL">None</option>
                {% else %}
                  {% for x in locations %}
                      <option value="{{x.location_name}}">{{x.location_name}}</option>
                  {% endfor %}
                {% endif %}
              </select>
	          <br>
              <label> Health Status </label> 
              <select name="status">
                <option value="{{data[0].Status}}">{{data[0].Status}}</option>
                {% for x in status_options if x not in data[0].Status %}
                  <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
              </select>
      </fieldset>
      <input class="btn btn-primary" type="submit" id="Update_Employee" name="Update_Employee" value="Update Employee">
          <a href="/employees" class="btn btn-default">Cancel</a>
	</form> 
</html>