<h1> Dinosaurs </h1>
 [ <a href="dinosaurs">Dinosaurs</a> | <a href="species">Species</a> | <a href="employees">Employees</a> | <a href="visitors">Visitors</a> | <a href="dinosaurAssignments">Dinosaur Assignments</a> | <a href="locations">Locations</a> ]

<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Dinosuars</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}
	function newDinosaur() {
		showform('insert');
	}
	function updateDinosaur(pid) {
		showform('update');
	}
	function deleteDinosaur(pid) {
		showform('delete');
	}
	function browseDinosaurs() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseDinosaurs()">
	<div id="browse">
		<p><a href="#" onClick="newDinosaur()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_dinosaur/{{item.id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_dinosaur/{{item.id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
    <!-- form to create a new Dinosaur-->
    <form id="insertDinosaur" action="/dinosaurs" method="post">
        <legend><strong>Add Dinosaur</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" id="name" name="name" placeholder="Dinosaur Name" required>
            <label> Species </label> 
              <select name="species">
                <option value="0">&nbsp;</option>
                {% for x in spec_data %}
                    <option value="{{x.species_name}}">{{x.species_name}}</option>
                {% endfor %}
              </select>
            <label> Location </label> 
              <select name="location">
            	<option value="0">&nbsp;</option>
                {% for x in locations %}
                    <option value="{{x.location_name}}">{{x.location_name}}</option>
                {% endfor %}
              </select>
	          <label> Health Status </label> 
              <select name="status">
                <option value="0">&nbsp;</option>
                <option value="healthy" selected>Healthy</option>
                <option value="sick">Sick</option>
                <option value="injured">Injured</option>
              </select>
      </fieldset>
          <input class="btn btn-primary" type="submit" id="Add_Dinosaur" name="Add_Dinosaur" value="Add Dinosaur">
          <input class="btn" type="button" value="cancel" onClick="browseDinosaur()">
	</form> 
</div><!-- insert -->
	<div id="edit">
		<!-- form to edit data in Dinosaurs-->
		<form id="editDinosaur" action="/edit_dinosaur/{{data[0].id}}" method="post">
			<legend><strong>Edit Dinosaur</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].id}}" class="form-control" id="personID" name="personID" required>
				<label for="make">first name:</label>

				<input type="text" class="form-control" id="fname" name="fname" pattern="[A-Za-z]{1,}" placeholder="{{data[0].fname}}" required>
				<label for="model">last name:</label>

				<input type="text" class="form-control" id="lname" name="lname" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].lname}}" required>
				<label for="year">homeworld:</label>

				<select class="form-control" id="homeworld" name="homeworld" pattern="[0-4]{1}" placeholder="" required>
					<option value="0">&nbsp;</option>
					<option value="1">Gemenon</option>
					<option value="2">Leonis</option>
					<option value="3">Caprica</option>
					<option value="{{data[0].homeworld}}" selected></option>
				</select>

				<label for="color">age:</label>
				<input type="text" class="form-control" id="age" name="age" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].age}}" required> </fieldset>
				<input class="btn" type="button" value="Cancel" onClick="browsePeople()" style="margin:.5rem;"> 
        </form>
	</div><!--edit-->
    <div id="delete" style="display: block">
        <form method="POST" id="deleteLocations">
            <legend><strong>Delete Location</strong></legend>
            <fieldset class="fields">
                <p>Are you sure you wish to delete the following?</p>
                <input type="hidden" name="locationID" id="deletelocationID" value="1">
                <label><strong>ID:</strong></label> 1
                <label> <strong>Name</strong> </label> Enclosure
            </fieldset>
            <input class="btn" type="submit" id="DeleteDinosaur" value="Delete Dinosaur">
            <input class="btn" type="button" value="cancel" onClick="browseLocation()">
        </form> 
    </div><!-- delete -->
</body>
</html>