<html>
<head>
<title>Employees</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newEmployee() { showform('insert'); }
    function updateEmployee(pid) { showform('update'); }
    function deleteEmployee(pid) { showform ('delete'); }
    function browseEmployees() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseEmployees()">
<h1>Employees</h1>

[ <a href="dinosaurs">Dinosaurs</a> | <a href="species">Species</a> | <a href="employees">Employees</a> | <a href="visitors">Visitors</a> | <a href="dinosaurAssignments">Dinosaur Assignments</a> | <a href="locations">Locations</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newEmployee()">New</a></th>
    <th></th>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Job Title</th>
    <th>Salary</th>
    <th>Health Status</th>
    <th>Location</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateEmployee('this.employeeID')">Edit</a></td>
    <td><a href="#" onclick="deleteEmployee('this.employeeID')">Delete</a></td>
    <td align="right" >1</td>
    <td >William</td>
    <td >Heggerdon</td>
    <td align="right" >security specialist</td>
    <td>34000</td>
    <td>healthy</td>
    <td>Enclosure</td>
  </tr>
  
  <tr>
    <td><a href="#" onClick="updateEmployee('this.employeeID')">Edit</a></td>
    <td><a href="#" onclick="deleteEmployee('this.employeeID')">Delete</a></td>
    <td align="right" >2</td>
    <td>Lee</td>
    <td>Taylor</td>
    <td align="right" >biologist</td>
    <td >334000</td>
    <td>healthy</td>
    <td>Med Bay</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateEmployee('this.employeeID')">Edit</a></td>
    <td><a href="#" onclick="deleteEmployee('this.employeeID')">Delete</a></td>
    <td align="right">3</td>
    <td>Dennis</td>
    <td>Nedry</td>
    <td align="right" >programmer</td>
    <td>94000</td>
    <td>injured</td>
    <td>Hotel</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateEmployee('this.employeeID')">Edit</a></td>
    <td><a href="#" onclick="deleteEmployee('this.employeeID')">Delete</a></td>
    <td align="right" >4</td>
    <td >Jack</td>
    <td >Harckness</td>
    <td align="right" >jr. security specialist</td>
    <td>30000</td>
    <td>healthy</td>
    <td>Enclosure</td>
  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addEmployee">
        <legend><strong>Add Employee</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Job Title </label> <input type="text" name="jobTitle">
            <label> Location </label> 
              <select name="location">
            	  <option value="0">&nbsp;</option>
                <option value="1" selected>Visitor Center</option>
                <option value="2">Security Building</option>
                <option value="3">Velociraptor Enclosure</option>
              </select>
	          <label> Salary </label> <input type="text" name="salary" >
	          <label> Health Status </label> 
              <select name="health">
                <option value="0">&nbsp;</option>
                <option value="1" selected>Healthy</option>
                <option value="2">Sick</option>
                <option value="3">Injured</option>
              </select>
            
      </fieldset>
          <input class="btn" type="submit" id="addEmployee" value="Add Employee">
          <input class="btn" type="button" value="cancel" onClick="browseEmployee()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateEmployee">
        <legend><strong>Update Employee</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="employeeID" id="updateemployeeID" value="1">
          <label> ID: </label> 1
            <label> Name </label> <input type="text" name="name" value="William">
            <label> Job Title </label> <input type="text" name="jobTitle" value="Biologist">
            <label> Location </label> 
              <select name="location">
            	  <option value="0">&nbsp;</option>
                <option value="1" selected>Visitor Center</option>
                <option value="2">Security Building</option>
                <option value="3">Velociraptor Enclosure</option>
              </select>
	          <label> Salary </label> <input type="text" name="salary" >
	          <label> Health Status </label> 
              <select name="health">
                <option value="0">&nbsp;</option>
                <option value="1" selected>Healthy</option>
                <option value="2">Sick</option>
                <option value="3">Injured</option>
              </select>
            <label> Assigned Dinosaurs </label> 
              <select name="health">
                <option value="0">&nbsp;</option>
                <option value="1" selected>None</option>
                <option value="2">Good Girl</option>
                <option value="3">Sue</option>
              </select>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveEmployee" value="Save Update Employee">
          <input class="btn" type="button" value="cancel" onClick="browseEmployees()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteEmployees">
      <legend><strong>Delete Employee</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="employeeID" id="deleteemployeeID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Name</strong> </label> Dennis Nedry
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteEmployee" value="Delete Employee">
          <input class="btn" type="button" value="cancel" onClick="browseEmployee()">
  </form> 
</div><!-- delete -->

</body>
</html>
