
<h1>Jurrasic Park Database</h1>

[ <a href="/dinosaurs">Dinosaurs</a> | <a href="/species">Species</a> | <a href="/employees">Employees</a> | <a href="/visitors">Visitors</a> | <a href="/dinosaur_assignments">Dinosaur Assignments</a> | <a href="/locations">Locations</a> ]
