<html>
<head>
<title>Species</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newSpecies() { showform('insert'); }
    function updateSpecies(pid) { showform('update'); }
    function deleteSpecies(pid) { showform ('delete'); }
    function browseSpecies() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseSpecies()">
<h1>Species</h1>

[ <a href="dinosaurs.html">Dinosaurs</a> | <a href="species.html">Species</a> | <a href="employees.html">Employees</a> | <a href="visitors.html">Visitors</a> | <a href="dinosaurAssignments.html">Dinosaur Assignments</a> | <a href="locations.html">Locations</a> ]

<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newSpecies()">New</a></th>
    <th></th>
    <th>ID</th>
    <th>Name</th>
    <th>Diet</th>
  </tr>
  <tr>
    <td><a href="#" onClick="updateSpecies('this.speciesID')">Edit</a></td>
    <td><a href="#" onclick="deleteSpecies('this.speciesID')">Delete</a></td>
    <td align="right" >1</td>
    <td >Brontosaurus</td>
    <td align="right" >Herbivore</td>
  </tr>
  <tr>
    <td><a href="#" onClick="updateSpecies('this.speciesID')">Edit</a></td>
    <td><a href="#" onclick="deleteSpecies('this.speciesID')">Delete</a></td>
    <td align="right" >2</td>
    <td>Tyrannosaurus</td>
    <td align="right" >Carnivore</td>

  </tr>
  <tr>
    <td><a href="#" onClick="updateSpecies('this.speciesID')">Edit</a></td>
    <td><a href="#" onclick="deleteSpecies('this.speciesID')">Delete</a></td>
    <td align="right">3</td>
    <td>Nanosaurus</td>
    <td align="right" >Omnivore</td>

  </tr>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addSpecies">
        <legend><strong>Discover Species</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" name="name">
            <label> Diet </label> 
              <select name="location">
            	  <option value="0">&nbsp;</option>
                <option value="1">Carnivore</option>
                <option value="2">Omnivore</option>
                <option value="3">Herbivore</option>
              </select>
      </fieldset>
          <input class="btn" type="submit" id="addSpecies" value="Add Species">
          <input class="btn" type="button" value="cancel" onClick="browseSpecies()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateSpecies">
        <legend><strong>Genetically Modify Species</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="speciesID" id="updatespeciesID" value="1">
          <label> ID: </label> 1
            <label> Name </label> <input type="text" name="name" value="Brontosaurus">
            <label> Diet </label> 
              <select name="location">
            	  <option value="0">&nbsp;</option>
                <option value="1">Carnivore</option>
                <option value="2">Omnivore</option>
                <option value="3">Herbivore</option>
              </select>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveSpecies" value="Save Update Species">
          <input class="btn" type="button" value="cancel" onClick="browseSpecies()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteSpecies">
      <legend><strong>Delete Species</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following species?</p>
          <input type="hidden" name="speciesID" id="deletespeciesID" value="1">
          <label><strong>ID:</strong></label> 1
            <label> <strong>Name</strong> </label> Brontosaurus
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteSpecies" value="Delete Species">
          <input class="btn" type="button" value="cancel" onClick="browseSpecies()">
  </form> 
</div><!-- delete -->

</body>
</html>
