<html>
<h1> Dinosaurs </h1>
 [ <a href="/dinosaurs">Dinosaurs</a> | <a href="/species">Species</a> | <a href="employees">Employees</a> | <a href="visitors">Visitors</a> | <a href="dinosaurAssignments">Dinosaur Assignments</a> | <a href="locations">Locations</a> ]

<head>
	<title>Update Dinosaur</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> <h3>Are you sure you want to update this dinosaur?</h3> </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

    <!-- form to update a Dinosaur-->
    <form id="updateDinosaur" action="/update_dinosaur/{{data[0].ID}}" method="post">
        <legend><strong>Update Dinosaur</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" id="name" name="name" value="{{data[0].Name}}" required>
            <label> Species </label> 
              <select name="species">
                <option value="{{data[0].Species}}">{{data[0].Species}}</option>
                {% for x in spec_data if x.species_name not in data[0].Species %}
                  <option value="{{ x.species_name }}">{{ x.species_name }}</option>
                {% endfor %}
              </select>
            <label> Location </label> 
              <select name="location">
            	<option value="{{data[0].Location}}">{{data[0].Location}}</option>
                {% for x in locations if x.location_name not in data[0].Location %}
                    <option value="{{x.location_name}}">{{x.location_name}}</option>
                {% endfor %}
              </select>
	          <label> Health Status </label> 
              <select name="status">
                <option value="{{data[0].Status}}">{{data[0].Status}}</option>
                {% for x in status_options if x not in data[0].Status %}
                  <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
              </select>
      </fieldset>
      <input class="btn btn-primary" type="submit" id="Update_Dinosaur" name="Update_Dinosaur" value="Update Dinosaur">
          <a href="/dinosaurs" class="btn btn-default">Cancel</a>
	</form> 
</html>