<html>
<h1> Locations </h1>
 [ <a href="/dinosaurs">Dinosaurs</a> | <a href="/species">Species</a> | <a href="/employees">Employees</a> | <a href="/visitors">Visitors</a> | <a href="/dinosaurAssignments">Dinosaur Assignments</a> | <a href="/locations">Locations</a> ]
<head>
	<title>Update Location</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> <h3>Are you sure you want to update this location?</h3> </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                        <th scope="col" data-field="Permitted Species" data-filter-control="input">Permitted Species</th>

                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                        <td>
                            <ul>
                            {% for x in permitted_species if x.id == item.ID%}
                                <li>{{x.species_name}}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
        <p>&nbsp;</p>


    <!-- form to update a Location-->
    <form id="updateLocation" action="/update_location/{{data[0].ID}}" method="post">
        <legend><strong>Update Location</strong></legend>
          <fieldset class="fields">
            <label> Name </label> <input type="text" id="name" name="name" value="{{data[0].Name}}" required>
            <label> Electrical </label> 
              <select name="electrical">
                <option value="{{data[0].Electricity}}">{{data[0].Electricity}}</option>
                {% for x in electric_status_options if x not in data[0].Electricity %}
                  <option value="{{ x  }}">{{ x }}</option>
                {% endfor %}
              </select>
            <label> Security </label> 
              <select name="security">
            	<option value="{{data[0].Security}}">{{data[0].Security}}</option>
                {% for x in security_status_options if x not in data[0].Security %}
                    <option value="{{ x }}">{{ x }}</option>
                {% endfor %}
              </select>
              <div>
                <label> Permitted Species </label>
                    <ul>
                        {% for x in species_list %}
                            {% if x.id not in permitted_species_ids %}
                                <li><input type="checkbox" name="allow_species" value="{{x.id}}"> {{x.species_name}}</li>
                            {% endif %}
                        {% endfor %}
                        {% for item in data %}
                            {% for x in permitted_species %}
                                <li><input type="checkbox" name="allow_species" value="{{x.s_id}}" checked> {{x.species_name}}</li>
                            {% endfor %}
                        {% endfor %} 
                    </ul> 
                </div>
</select>  
	          
      </fieldset>
      <input class="btn btn-primary" type="submit" id="Update_Location" name="Update_Location" value="Update Location">
          <a href="/locations" class="btn btn-default">Cancel</a>
	</form> 
</html>